/* ========================== CAT BREEDS ========================= */
.link {
  text-decoration: none;
}
.cat-link {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  background-color: transparent;
  font-weight: 600;
  border: 2px solid white; /* Dodanie białej ramki */
  padding: 10px 20px;
}
.background-image {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('./images/cat-print.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}
/* =================== FETCHING CAT ------------------ */
.hidden {
  display: none;
}
.span-loader {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.span-loader::before,
.span-loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.span-loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
.select-cat-breed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Dostosuj wysokość kontenera do potrzeb */
}

.breed-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: black; /* Zmiana koloru tekstu na biały */
  font-size: 16px;
  width: 200px;
  outline: none;
  margin-bottom: 20px; /* Dodaj odstęp na dole */
  position: relative; /* Dla poprawnego pozycjonowania ikony strzałki */
}

.breed-select::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.breed-select:hover {
  border-color: #a0522d;
}

.breed-select:active,
.breed-select:focus {
  border-color: #8b4513;
}

.cat-info {
  text-align: center; /* Wyśrodkuj zawartość w poziomie */
}

.cat-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Dodaj odstęp na dole */
}

.image-container {
  margin-right: 20px;
}

.cat-image {
  max-width: 400px;
  height: auto;
}

.name {
  margin-bottom: 10px;
  letter-spacing: 0.02em;
  color: white; /* Zmiana koloru tekstu na biały */
}

.description,
.temperament {
  max-width: 400px;
  color: white; /* Zmiana koloru tekstu na biały */
}
